html {
    font-family: 'Roboto', 'sans-serif';
    background-size: cover;
    background-repeat: no-repeat;
}

.purple {
    color: #0e012e;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3A1392;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0e012e;
}

.scrollTop {
    display: none;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0e012e;
    color: white;
    cursor: pointer;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 30px;
}

.scrollTop a {
    padding: 18px;
    color: #fff;
}

.scrollTop:hover {
    background-color: #3A1392;
}